
.message-item
  position relative
  padding 15px
  margin-top: 20px
  background #333
  color #fff
  bs_pattern(#333)
  .small-button
    position absolute
    display block
    width 15px
    height 15px
    background #fff
    color #fff
    font-size 10px
    text-align center
    line-height 16px
    font-family $if
    transition()
    bs_pattern(#fff)
    &:hover
      background $mc
      color #333
      bs_pattern($mc)
    &:active
      bs_pattern_negative($mc)
    cursor pointer
  .delete-item
    top 5px
    right 5px
  h3
    margin-top 0
    
    
$themeBackgroundColor = #333 // $mbc
$themeFontColor = #fff // #333
#addMessage
  max-width 405px
  margin-top 80px
  position relative
  input, textarea
    background #333
    color #fff
    border 1px solid transparent
    border-bottom 0
    transition()
    bs_pattern(#333)
    &::-webkit-input-placeholder
      color $themeFontColor
      fonts(16px)
    &::-moz-placeholder
      color $themeFontColor
      fonts(16px)
    &:-moz-placeholder
      color $themeFontColor
      fonts(16px)
    &:-ms-input-placeholder
      color $themeFontColor
      fonts(16px)
    &:focus
      background $themeBackgroundColor
      color $themeFontColor
      //border 1px solid ($themeBackgroundColor / 2)
      //border-bottom 0
      bs_pattern($themeBackgroundColor)
      &::-webkit-input-placeholder
        color #333
      &::-moz-placeholder
        color #333
      &:-moz-placeholder
        color #333
      &:-ms-input-placeholder
        color #333
  textarea
    display block
    padding 10px 15px
    resize none
    height 150px
    width 100%
    margin-top 20px
    fonts(16px)
  input
    width 100%
    display block
    padding 10px 15px
    padding-bottom 8px
    margin-top 20px
    fonts(16px)
  .send
    position absolute
    margin-top: 0
    right 0
    bottom 0
    font-family $if
    padding 5px 10px
    transition()