
.message-item
  position relative
  padding 15px
  margin-top: 20px
  background #333
  color #fff
  bs_pattern(#333)
  .small-button
    position absolute
    display block
    color #fff
    font-size 10px
    text-align center
    font-family $if
    transition()
    &:hover
      color $mc
      cursor pointer
    &:active
      transform: rotate(90deg)
  .delete-item
    top 11px
    right 11px
    ts_pattern(#fff)
    &:hover
      ts_pattern($mc)
  h3
    margin-top 0
    color $mc
    margin-bottom: 15px
    
    
$themeBackgroundColor = #333 // $mbc
$themeFontColor = #fff // #333
#addMessage
  max-width 100%
  margin-top 80px
  position relative
  input, textarea
    background #333
    color #fff
    border 1px solid transparent
    border-bottom 0
    transition()
    bs_pattern(#333)
    &::-webkit-input-placeholder
      color ($themeFontColor / 2)
      fonts(16px)
    &::-moz-placeholder
      color ($themeFontColor / 2)
      fonts(16px)
    &:-moz-placeholder
      color ($themeFontColor / 2)
      fonts(16px)
    &:-ms-input-placeholder
      color ($themeFontColor / 2)
      fonts(16px)
    &:focus
      background $themeBackgroundColor
      color $themeFontColor
      bs_pattern($themeBackgroundColor)
  textarea
    display block
    padding 10px 15px
    resize none
    height 44px
    width 100%
    margin-top 20px
    fonts(16px)
  input
    width 100%
    display block
    padding 10px 15px
    padding-bottom 8px
    margin-top 20px
    fonts(16px)
  .send
    position absolute
    margin-top: 0
    right 0
    bottom 7px
    font-family $if
    padding 5px 10px
    background transparent
    box-shadow none
    transition()
    ts_pattern(#fff)
    &:active
      right -3px
    &:hover
      ts_pattern($mc)